@import 'partials/reset';

$primary_color: #7E8D85; //dark gray
$secondary_color: #BDBDBE; //light gray
$tertiary_color: #0083BB; // blue
$fourth_color: #29BF89; //green
$fifth_color:  rgba(0, 77, 139, 0.7); //lighter green
$sixth_color: #B0C4DE; // light steel blue
$off_white: #FFF9FB;
$off_black: #020F0F;

$primary_font: 'Raleway', sans-serif;
$title_font: 'Open Sans', sans-serif;

* {
  font-family: $primary_font;

}

body {
  background: $off_white;
}
#container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 75px;
  background: $fifth_color;
  color: $off_white;
}

#header h1 {
  margin: 0;
}

#main {
  display: flex;
}

#list {
  div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 75px;
  }

  button {
    width: 100px;
    height: 50px;
    font-size: 18px;
    border-radius: 3px;
    background: $primary_color;
  }

  button:hover {
    background: $fourth_color;
    cursor: pointer;
    border: 1px solid black;
    border-radius: 3px;
  }


}





#content {
  display: flex;
  background: $sixth_color;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 600px;
  margin: 20px;
  padding-left: 20px;

  h3 {
    padding: 10px;
  }
  p {
   padding: 10px;
   margin: 0px 20%;
   border: 1px solid white;
   background: $off_white;
   font-size: 18px;
  }

 p:hover {
   cursor: pointer;
   background-color: $fourth_color;
   border: 1px solid black;
   border-radius: 3px;
  }

 img {
   width: 500px;
   height: auto;
   padding-bottom: 20px;
  }
}
