@import 'partials/reset';

$primary_color: rgba(0, 26, 73, 1); //dark green
$secondary_color: rgba(1, 149, 197, 0.1);
$tertiary_color: rgba(0, 74, 136, 1);
$fourth_color: rgba(0, 127, 193, 1.0); //pink
$fifth_color:  rgba(0, 77, 139, 0.7); //lighter green
$off_white: #FFF9FB;
$off_black: #020F0F;

$primary_font: 'Raleway', sans-serif;
$title_font: 'Open Sans', sans-serif;

#container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 75px;
  background: #222;
  color: white;
}

#header h1 {
  margin: 0;
}

#main {
  display: flex;
}

#list div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 75px;
}


#list button {
  width: 100px;
  height: 50px;
  font-size: 18px;
  border-radius: 3px;
}

#list button:hover {
  cursor: pointer;
  border: 1px solid black;
  border-radius: 3px;
}

#content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 500px;
  margin: 20px;
  padding-left: 20px;
}

#content p {
  padding: 10px;
  border: 1px solid white;
  font-size: 18px;
}

#content p:hover {
  cursor: pointer;
  background-color: rgb(200, 200, 200);
  border: 1px solid black;
  border-radius: 3px;
}

#content img {
  width: 500px;
  height: auto;
}
